body {
    margin:0; 
    padding:0; /* обнуление отступов */
}
#header {
    background: url('../img/bg.jpg');
    height:200px;
}
#logotext {
    float:right;
	margin-top:20px;
    margin-right:20px;
    color:whitesmoke;
    text-shadow: 1px 1px 1px black;
    background:olive;
    border-radius: 6px;
    padding:5px;
}
#logo {
 float:left;
}
#auth {
 float:right;
 margin-right:20px;
}
.menu {
    display: flex;
    width:100%;
}
.menu a{
    flex:1;
    text-decoration: none;
    color:olive;
    background: whitesmoke;
    text-align: center;
    padding:10px 0;
    border-right:solid 1px olive;
}
.menu a:hover {
    background-color: gold;
    color:brown;
}
#content {
    margin:20px;
}
#footer{
    padding:100px 0;
    text-align: center;
    background: cadetblue;
}